extends layout

block content

  .row
    .col.s12
      h3 Ultimos Videos:
      script console.log(videos)
      - each video, i in videos
        include players/block/youtube.jade

  .row
    .col.s12
      h3 Ultimos Jogadores:

      - each player, i in players
        include players/players_list_block.jade

  .row
    .col.s12
      h3 Ultimos Times:
      - each team, i in teams
        include team/block/list.jade
