doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Materialize/stylesheets/materialize.css')

  body(class=user === user ? "logged" : "not-logged")
    nav
      div.nav-wrapper
        a(href="/" class="brand-logo") 
          span Logo
          ul#nav-mobile.right.hide-on-med-and-down
            li <a href="/player">Jogadores</a></li>
            li <a href="/team">Times</a></li>
            li <a href="/video">Videos</a></li>
            if(user)
              li <a href="/player/edit">Editar conta</a></li>
              li <a href="/player/logout">sair</a></li>
        
    div.container
      block content

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js')
    script(src='/js/scripts.js')

